name: bandhucare_new
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.2
  
dependencies:
  flutter:
    sdk: flutter

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.8
  
  # For splash screen animations
  lottie: ^3.3.2
  
  # For Google Fonts
  google_fonts: ^6.1.0
  path_provider: ^2.1.1
  animated_bottom_navigation_bar: ^1.4.0
  liquid_glass_renderer: ^0.2.0-dev.3
  http: ^1.1.0
  fluttertoast: ^8.2.4
  shared_preferences: ^2.5.3
  get: ^4.7.2
  mobile_scanner: ^5.2.3
  pin_code_fields: ^8.0.1
  flutter_tabler_icons: ^1.43.0
  ionicons: ^0.2.2
  bootstrap_icons: ^1.13.1
  flutter_keyboard_visibility: ^6.0.0
  table_calendar: ^3.1.2
  loading_animation_widget: ^1.3.0
  heroicons: ^0.11.0
  image_picker: ^1.0.7
  dio: ^5.9.0
  font_awesome_flutter: ^10.12.0
  file_picker: ^8.1.4
  url_launcher: ^6.3.1
  permission_handler: ^12.0.1
  record: ^6.1.2
  pdfx: ^2.9.2
  audio_waveforms: ^2.0.1
  jam_icons: ^0.0.1
  firebase_core: ^3.5.0
  firebase_messaging: ^15.0.0
  app_links: ^6.3.2
  google_sign_in: ^7.2.0
  audioplayers: ^6.5.1
  flutter_plugin_android_lifecycle: ^2.0.33
  

  

dev_dependencies:
  flutter_test:
    sdk: flutter

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^5.0.0
  flutter_launcher_icons: ^0.14.4
  build_runner: ^2.10.4

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/
    - assets/images/
    - assets/sounds/
    - assets/animation/
    
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
